home-manager/shell/git.nix filter=git-crypt diff=git-crypt
home-manager/fonts/BerkeleyMono-Bold.ttf filter=git-crypt diff=git-crypt
home-manager/fonts/BerkeleyMono-BoldItalic.ttf filter=git-crypt diff=git-crypt
home-manager/fonts/BerkeleyMono-Italic.ttf filter=git-crypt diff=git-crypt
home-manager/fonts/BerkeleyMono-Regular.ttf filter=git-crypt diff=git-crypt
home-manager/fonts/BerkeleyMonoVariable-Italic.ttf filter=git-crypt diff=git-crypt
home-manager/fonts/BerkeleyMonoVariable-Regular.ttf filter=git-crypt diff=git-crypt
home-manager/x13/kopia.nix filter=git-crypt diff=git-crypt
home-manager/shell/ssh.nix filter=git-crypt diff=git-crypt
home-manager/srvcs/spotifyd.nix filter=git-crypt diff=git-crypt